<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior0">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="behavior0" name ="_2x2_MsAgentService.Shedulers.Sheduler">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/2x2_Sheduler"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost/2x2_Sheduler/man" binding="netTcpBinding" name ="man" bindingConfiguration="TCPwithTransaction" contract="_2x2_MsAgentService.Shedulers.IScheduler"/>
        <endpoint binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TCPwithTransaction" transactionFlow="true"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>